* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    padding: 15px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: brown;
}

.cartao {
    width: 260px;
    height: 200px
}

.cartao-imagem {
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(43, 16, 16);
}

main {
    flex: 1;

}

.cabecalho-link {
    color: azure;
    text-decoration: none;
}

h1 {
    color: azure;
    font: size 18px;
    ;
}

.footer {
    background-color: rgb(24, 5, 5);
    padding: 15px 15px;
    color: azure;
}

.cartao-interno {
    position:relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;

    }
    .cartao:hover .cartao-interno{
        transform: rotateY(180deg);
    }
    .cartao-frente, .cartao-verso {
        position: absolute;
        border-radius: 12px;
        /*cantos arredondados*/
        box-shadow: 0px 6px rgba(0, 0, 0, 0.15;)    
            /*colocar uma sombra ao redor do cartao*/
            backface-visibility: hidden;
        }

        .cartao-verso {
            transform: rotateY(180deg);/*rotacionar o cartao 180 graus no eixo y*/
        }